/* css */

.radial{
    height: 700px;
    background: radial-gradient(#08480BCC 0%, #0C470F 60%);
}

.bottle{
    height: 700px;
    width: 450px;
    left: 150px;
    position: fixed;
    z-index: 1;
}

.star{
    position: fixed;
    top: 250px;
    left: 600px;
    z-index: 2;
}

#img:hover{
    cursor: pointer;
}

/* #img:hover ~ #hide{
    transform: rotate(s90deg);
    top: 200px;
    left: 350px;
} */

#show{
    visibility: hidden;
}

.overlay{
    position: fixed;
    font-size: 120px;
    color: white;
    font-family: 'Heineken', sans-serif;
    margin: 0;
}

.pillow{
    position: fixed;
    height: 300px;
    width: 400px;
    left: 600px;
    top: 450px;
}